{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
 
    <title>About Us</title>
    
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <link type="text/css" href="{% static 'webpage/css/about.css' %}" rel="stylesheet">
   
</head>
<body  >

  <div >
  <header class="mb-auto cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
    <div>
      <h3 class="float-md-start mb-0" href="{% url 'homepage' %}">Final Project</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="{% url 'homepage' %}">Home</a>
        <a class="nav-link active" href="{% url 'about' %}">About</a>
      </nav>
    </div>
  </header>

  <main >
 <div class="about">
  <h1>Hi, we are team Allosaurus </h1>
  <p>Some text here?</p>
  
</div>

<div class="about-body">
<h2 style="text-align:center; color: white">Our CPEN 291 Final Project</h2>
</div>

<div class="text" style="padding-top: 15px;">
  <p>People enjoy listening to music during different times of the day and accordingly, choose specific 
    genres of music based on their current mood and feelings. This project focusses on creating an application 
    that is able to detect the mood (e.g. sadness, anger, happiness, contempt, etc.) based on facial expression, 
    such as mouth, eyes, and eyebrows. The application requires the user to input an image of their face through 
    the application, where we will use computer vision techniques to determine the mood the individual is in and 
    accordingly output a list of songs or playlists for the user to listen to on Spotify. 
    For instance, if the model determines the user is angry, the output will show this result along with a 
    randomly generated playlist that contains peaceful and soothing music. </p>


</div>
  
  </main>

  <footer class="mt-auto text-white-50">
  </footer>

</div>
</body>
</html>




