{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>Final Project</title>
    
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">  
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <link type="text/css" href="{% static 'webpage/css/homepage.css' %}" rel="stylesheet">
   
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   

  </head>
  <body class="d-flex h-100 text-center text-white background">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto  font">
    <div>
      <h3  class="float-md-start mb-0"> <a  class="nav-link" href="{% url 'homepage' %}" style="color: #ada9ad"> Final Project</a></h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </nav>
    </div>
  </header>

  <main class="px-3 body-text">
    <h1>Hey, we have a song for you :)</h1>
    <p class="lead">Upload your photo and we will generate songs that suit your current mood</p>
    <p class="lead">
      <a>
        <button id="startCamera" class="btn btn-lg btn-secondary fw-bold border-black transparency" onclick="show()">How are you feeling?</button>
      </a>  
    </p>

    <div class="video-wrap" id="video-wrap">
      <video id="video" playsinline autoplay></video>
    </div>

    <canvas id="canvas" width="224" height="224" hidden></canvas>
    <form id="imageForm" name="imageForm" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="hidden" name="imageData" id="imageData" value=""/>
        <div class="controller" id="controller">
          <a>
            <button id="snap" class="btn btn-lg btn-secondary fw-bold border-black" >Capture</button>
          </a>
        </div>
    </form>
  </main>

  <footer class="mt-auto text-white-50">
  </footer>

  <script>
    function show() {
      var x = document.getElementById("video-wrap");
      var y = document.getElementById("controller");
      if (x.style.display != "block") {
        x.style.display = "block";
      }
      if (y.style.display != "block") {
        y.style.display = "block";
      }
    }
  </script>

  <script type="text/javascript" src="{% static 'webpage/js/webcam.js' %}"></script>
</div>


    
  </body>
</html>