Django==3.2.2
mtcnn==0.1.0
Keras==2.4.3
numpy==1.19.5
opencv-python==4.5.2.52
Pillow==8.2.0
requests==2.25.1
tensorflow==2.5.0rc3
torch==1.8.1
torchvision==0.9.1
pymysql==1.0.2
# tf-nightly==2.6.0.dev20210508
#look at whatsapp for libraries needed